[Desktop Entry]
Categories=Game
Comment=Open source Old School RuneScape client
Exec=runelite
GenericName=run - escape
Icon=runelite
Name=RuneLite
Type=Application
Version=1.4
