[Desktop Entry]
Categories=Network;
Exec=alacritty -t 2048-in-terminal -e "2048-in-terminal"
GenericName=2048 terminal application
Icon=Alacritty
Keywords=2048;games;tui
Name=2048
StartupWMClass=2048
Type=Application
Version=1.0
