[Desktop Entry]
Categories=Network;
Exec=foot --title adguard-tui bash -c "docker run -e "ADGUARD_IP=local" -e "ADGUARD_PORT=3000" -e "ADGUARD_USERNAME=admin" -e "ADGUARD_PASSWORD=REDACTED002" -it obaraelijah/adguard-tui"
GenericName=adguard terminal application
Icon=foot
Keywords=adguard;networking;vpn;homelab;tui
Name=adguard
StartupWMClass=adguard
Type=Application
Version=1.0
