[Desktop Entry]
Categories=Network;
Exec=foot --title bandwhich sudo bandwhich
GenericName=Network bandwith monitoring terminal application
Icon=foot
Keywords=monitoring;bandwhich;network;tui
Name=bandwhich
StartupWMClass=bandwhich
Type=Application
Version=1.0
