[Desktop Entry]
Categories=Network;
Exec=foot --title binsider -e bash -c ~/.bash_scripts/binsider-wrapper.sh
GenericName=Binary analysis terminal application
Icon=foot
Keywords=inspect;binary;analysis;binsider;tui
Name=binsider
StartupWMClass=binsider
Type=Application
Version=1.0
