[Desktop Entry]
Categories=Network;
Exec=foot --title bitwise bitwise
GenericName=bitwise terminal application
Icon=foot
Keywords=bit;bitwise;tui
Name=bitwise
StartupWMClass=bitwise
Type=Application
Version=1.0
