[Desktop Entry]
Categories=Network;
Exec=foot --title bluetuith bluetuith
GenericName=Bluetooth terminal application
Icon=foot
Keywords=bluetooth;bluetuith;network;tui
Name=bluetuith
StartupWMClass=bluetuith
Type=Application
Version=1.0
