[Desktop Entry]
Categories=Network;
Exec=foot --title calcure calcure
GenericName=Calendar terminal application
Icon=foot
Keywords=calendar;cal;calcure;tui
Name=calcure
StartupWMClass=calcure
Type=Application
Version=1.0
