[Desktop Entry]
Categories=Network;
Exec=foot --title chess-tui chess-tui
GenericName=Chess terminal application
Icon=foot
Keywords=chess;games;tui
Name=chess-tui
StartupWMClass=chess-tui
Type=Application
Version=1.0
