[Desktop Entry]
Categories=Network;
Exec=alacritty -t gtt -e "gtt"
GenericName=Translate terminal application
Icon=Alacritty
Keywords=translate;google translate;workflow;gtt;tui
Name=gtt
StartupWMClass=gtt
Type=Application
Version=1.0
