[Desktop Entry]
Categories=Network;
Exec=foot --title gtt gtt
GenericName=Translate terminal application
Icon=foot
Keywords=translate;google translate;workflow;gtt;tui
Name=gtt
StartupWMClass=gtt
Type=Application
Version=1.0
