[Desktop Entry]
Categories=Network;
Exec=foot --title irssi irssi
GenericName=IRC terminal application
Icon=foot
Keywords=irc;chat;irssi;tui
Name=irssi
StartupWMClass=irssi
Type=Application
Version=1.0
