[Desktop Entry]
Categories=Network;
Exec=foot --title lazyjournal lazyjournal
GenericName=journal terminal application
Icon=foot
Keywords=journal;workflow;lazyjournal;tui
Name=lazyjournal
StartupWMClass=lazyjournal
Type=Application
Version=1.0
