[Desktop Entry]
Categories=Network;
Exec=foot --title lazygit lazygit
GenericName=git terminal application
Icon=foot
Keywords=git;workflow;lazygit;tui
Name=lazygit
StartupWMClass=lazygit
Type=Application
Version=1.0
