[Desktop Entry]
Categories=Network;
Exec=foot --title lazysql lazysql
GenericName=sql terminal application
Icon=foot
Keywords=sql;workflow;lazysql;tui
Name=lazysql
StartupWMClass=lazysql
Type=Application
Version=1.0
