[Desktop Entry]
Categories=Network;
Exec=foot --title nchat nchat
GenericName=Whatsapp terminal application
Icon=foot
Keywords=chat;whatsapp;message;messaging;nchat;tui
Name=nchat
StartupWMClass=nchat
Type=Application
Version=1.0
