[Desktop Entry]
Categories=Network;
Exec=foot --title ncspot ncspot
GenericName=Spotify terminal application
Icon=foot
Keywords=music;spotify;audio;ncspot;song;tui
Name=ncspot
StartupWMClass=ncspot
Type=Application
Version=1.0
