[Desktop Entry]
Categories=Network;
Exec=foot --title neomutt neomutt
GenericName=Email terminal application
Icon=foot
Keywords=email;mail;neomutt;nm;tui
Name=neomutt
StartupWMClass=neomutt
Type=Application
Version=1.0
