[Desktop Entry]
Categories=Network;
Exec=alacritty -t nm_tui_win -e "nmtui"
GenericName=Network manager terminal application (wifi)
Icon=nmtui
Keywords=wifi;nmtui;network;wi-fi;tui
Name=nmtui
StartupWMClass=nmtui
Type=Application
Version=1.0
