[Desktop Entry]
Categories=Network;
Exec=foot --title nmtui nmtui
GenericName=Network manager terminal application (wifi)
Icon=foot
Keywords=wifi;nmtui;network;wi-fi;tui
Name=nmtui
StartupWMClass=nmtui
Type=Application
Version=1.0
