[Desktop Entry]
Categories=Network;
Exec=foot --title smassh smassh
GenericName=Typing terminal application
Icon=foot
Keywords=type;typing;monkeytype;monkey;workflow;smassh;tui
Name=smassh
StartupWMClass=smassh
Type=Application
Version=1.0
