[Desktop Entry]
Categories=Network;
Exec=foot --title trippy -e bash -c ~/.bash_scripts/trippy-wrapper.sh
GenericName=Trace route terminal application
Icon=foot
Keywords=traceroute;trippy;google;ping;internet;tui
Name=trippy
StartupWMClass=trippy
Type=Application
Version=1.0
