[Desktop Entry]
Categories=Network;
Exec=foot --title tui-deck tui-deck
GenericName=Nextcloud deck terminal application
Icon=foot
Keywords=workflow;deck;kanban;organization;tui-deck;tui
Name=tui-deck
StartupWMClass=tui-deck
Type=Application
Version=1.0
