[Desktop Entry]
Categories=Network;
Exec=alacritty -t tui-deck -e "tui-deck"
GenericName=Nextcloud deck terminal application
Icon=Alacritty
Keywords=workflow;deck;kanban;organization;tui-deck;tui
Name=tui-deck
StartupWMClass=tui-deck
Type=Application
Version=1.0
