[Desktop Entry]
Categories=Network;
Exec=alacritty -t typioca -e "typioca"
GenericName=Typing practice terminal application
Icon=Alacritty
Keywords=typing;monkey;type;monkeytype;typioca;tui
Name=typioca
StartupWMClass=typioca
Type=Application
Version=1.0
