/* --- Global Styles --- */
* {
    font-family: 'IosevkaTerm Nerd Font';
    font-size: 18px;
    min-height: 0;
    padding: 0;
}

/* --- Waybar Container --- */
#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 0;
    font-weight: 900;
}

#custom-priv_ip,
#custom-pub_ip,
#custom-network,
#custom-ping,
#custom-uptime,
#custom-mem,
#custom-cpu,
#custom-disk,
#custom-iface,
#custom-bat,
#custom-vol,
#custom-date {
    background-color: #35373B;
    padding: 0.3rem 0.7rem;
    margin: 5px 5px; /* top/bottom + horizontal spacing */
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #AFB2B7;
    font-weight: 500;
}

#custom-priv_ip:hover,
#custom-pub_ip:hover,
#custom-network:hover,
#custom-ping:hover,
#custom-uptime:hover,
#custom-mem:hover,
#custom-cpu:hover,
#custom-disk:hover,
#custom-iface:hover,
#custom-bat:hover,
#custom-vol:hover,
#custom-date:hover {
    background-color: #99BC80;
    color: #333735;
}

/* --- Tooltip Styles --- */
tooltip {
    background-color: #1a1b26;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

/* --- Workspaces Buttons --- */
#workspaces button {
    background: transparent;
    outline: none;
    background-color: #35373B;
    padding: 0.3rem 0.7rem;
    margin: 5px 5px; /* top/bottom + horizontal spacing */
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #AFB2B7;
    font-weight: 500;
}
#workspaces button.visible {
    background-color: #DFBE81;
    color: #333735;
}
#workspaces button:hover {
    background-color: #68AEE8;
    color: #333735;
}
#workspaces button.focused {
    background-color: #99BC80;
    color: #333735;
}
#workspaces button.urgent {
    background: #E16D77;
    color: #333735;
}
