html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 14px;
}


body {
  margin: 0;
}
html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

@font-face {
  font-family: 'Icons';
  src: url("./fonts/icons.eot");
  src: url("./fonts/icons.eot?#iefix") format('embedded-opentype'), url("./fonts/icons.woff2") format('woff2'), url("./fonts/icons.woff") format('woff'), url("./fonts/icons.ttf") format('truetype'), url("./fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@font-face {
  font-family: 'outline-icons';
  src: url("./fonts/outline-icons.eot");
  src: url("./fonts/outline-icons.eot?#iefix") format('embedded-opentype'), url("./fonts/outline-icons.woff2") format('woff2'), url("./fonts/outline-icons.woff") format('woff'), url("./fonts/outline-icons.ttf") format('truetype'), url("./fonts/outline-icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}


i.icon:before {
  background: none !important;
}

i.icon.outline {
  font-family: 'outline-icons';
}

i.icon.users:before { content: "\f0c0"; }
i.icon.search:before { content: "\f002"; }
i.icon.newspaper:before { content: "\f1ea"; }
i.icon.code:before { content: "\f121"; }
i.icon.bell:before { content: "\f0f3"; }
i.icon.file.alternate:before { content: "\f15c"; }

i.icon.certificate:before { content: "\f0a3"; }

i.icon.eye:before { content: "\f06e"; }
i.icon.thumbs.down:before { content: "\f165"; }

i.icon.thumbs.up:before { content: "\f164"; }
i.icon.hand.pointer.outline:before { content: "\f25a"; }
i.icon.smile.outline:before { content: "\f118"; }
i.icon.map.marker.alternate:before { content: "\f3c5"; }
i.icon.twitter:before {
  content: "\f099";
}

i.icon.hand.point.left:before {
  content: "\f0a5";
}
i.icon.hand.point.up:before {
  content: "\f0a6";
}
i.icon.hand.point.right:before {
  content: "\f0a4";
}

i.icon.youtube:before {
  content: "\f167";
}

i.icon.user.circle.outline:before {
  content: "\f2bd";
}

i.icon.handshake:before {
  content: "\f2b5";
}

i.icon.cog:before {
  content: "\f013";
}

i.icon.info:before {
  content: "\f129";
}

i.icon.info.circle:before {
  content: "\f05a";
}

i.icon.exclamation:before {
  content: "\f12a";
}
i.icon.exclamation.circle:before {
  content: "\f06a";
}

i.icon.exclamation.triangle:before {
  content: "\f071";
}




/*ui loading */
.ui.segment {
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.segments .segment, .ui.segment {
    font-size: 1rem;
}
.ui.segment:first-child {
    margin-top: 0em;
}


.ui.dimmer {
    display: none;
    position: absolute;
    top: 0em !important;
    left: 0em !important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    line-height: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}
.ui.dimmer {
    padding: 0px;
}
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
}

.ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.85);
}
.ui.segment > .ui.dimmer {
    border-radius: inherit !important;
}
.ui.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    text-align: center;
    z-index: 1000;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ui.dimmer .loader {
    display: block;
}
.ui.text.loader {
    width: auto !important;
    height: auto !important;
    text-align: center;
    font-style: normal;
}
.ui.text.loader {
    min-width: 2.28571429rem;
    padding-top: 3.07142857rem;
}
.ui.inverted.dimmer .ui.loader {
    color: rgba(0, 0, 0, 0.87);
}
.ui.inverted.dimmer .ui.loader, .ui.loader {
    width: 2.28571429rem;
    height: 2.28571429rem;
    font-size: 1em;
}
.ui.loader:before {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 500rem;
    border: 0.2em solid rgba(0, 0, 0, 0.1);
}
.ui.loader:after {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-animation: loader 0.6s linear;
    animation: loader 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    -webkit-box-shadow: 0px 0px 0px 1px transparent;
    box-shadow: 0px 0px 0px 1px transparent;
}
.ui.loader:before, .ui.loader:after {
    width: 2.28571429rem;
    height: 2.28571429rem;
    margin: 0em 0em 0em -1.14285714rem;
}
.ui.inverted.dimmer .ui.loader:before {
    border-color: rgba(0, 0, 0, 0.1);
}
.ui.inverted.dimmer .ui.loader:after {
    border-color: #767676 transparent transparent;
}

/* Active Animation */

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*form stuff */
.ui.form {
    position: relative;
    max-width: 100%;
}
.ui.form {
    font-size: 1rem;
}

.ui.form .field {
    clear: both;
    margin: 0em 0em 1em;
}
.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
    width: 100%;
}
.ui.form textarea, .ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"] {
    width: 100%;
    vertical-align: top;
}

.ui.input {
    position: relative;
    font-weight: normal;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.87);
}
.ui.icon.input > i.icon {
    cursor: default;
    position: absolute;
    line-height: 1;
    text-align: center;
    top: 0px;
    right: 0px;
    margin: 0em;
    height: 100%;
    width: 2.67142857em;
    opacity: 0.5;
    border-radius: 0em 0.28571429rem 0.28571429rem 0em;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.ui.icon.input > i.icon:not(.link) {
    pointer-events: none;
}

.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 0.5833em 0.833em;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.ui.labeled.input > .label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0;
    font-size: 1em;
}
.ui.labeled.input > .label:not(.corner) {
    padding-top: 0.78571429em;
    padding-bottom: 0.78571429em;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.ui.form .field > label {
    display: block;
    margin: 0em 0em 0.28571429rem 0em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
    text-transform: none;
}
.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"] {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
}
.ui.form textarea {
    margin: 0em;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
}
.ui.form textarea, .ui.form input[type="checkbox"] {
    vertical-align: top;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-color: transparent;
}
.ui.icon.input > i.icon {
    cursor: default;
    position: absolute;
    line-height: 2.5;
    text-align: center;
    top: 0px;
    right: 0px;
    margin: 0em;
    height: 100%;
    width: 2.67142857em;
    opacity: 0.5;
    border-radius: 0em 0.28571429rem 0.28571429rem 0em;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
